app-user-avatar {
  margin-top: 20px;
  width: 80px;
  height: 80px;
  border-radius: 20px;
}

.bio-space {
  padding: 8px;

  small {
    color: #888;
  }
}

.email-space {
  padding: 8px;

  small {
    color: #888;
  }
}

.icon-cog-space {
  display: inline-block;
  width: 38px;
  height: 38px;
  background: #ffffff;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grey-text {
  color: var(--ion-color-medium);
}
