.full-width-button {
  width: 100%;
  margin-top: 25px;
}

.phone-container {
  margin: 26px 0 18px 20px;
  border-bottom: solid 1px #ddd;

  ion-label {
    font-size: 14px;
  }

  &.android {
    margin: 26px 0 18px 1px;
    border-bottom: solid 1px #ddd;

    ion-label {
      font-size: 12px;
      padding-left: 16px;
    }
  }
}

.username-label {
  font-size: 14px;
  margin: 6px 20px 0;
  display: inline-block;

  &.android {
    font-size: 12px;
    margin: 6px 18px 0;
  }
}
